/* змінні */
:root {
  --primary-brand: #4d5ae5;
  --dark: #2e2f42;
  --text: #434455;
  --light-on-dark: #ffffff;
  --accent: #e7e9fc;
  --pressed-state: #404bbf;
  --light: #f4f4fd;
  --subtle-text: #8e8f99;

  --shadow1: rgba(46, 47, 66, 0.08);
  --shadow2: rgba(46, 47, 66, 0.16);
  --shadow-filter: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);

  --gradient: rgba(4, 6, 41, 0.7);
  --footer-social: rgba(255, 255, 255, 0.1);
  --success: #31d0aa;

  --main-font: 'Roboto', sans-serif;

  --items: 4;
  --indent: 24px;
}

/* ---------- */
/* скидання маркерів, підкреслень, відступів */
.list {
  list-style: none;

  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.link {
  text-decoration: none;
  color: currentColor;
}

.link:hover,
.link:focus {
  color: var(--primary-brand);
}
.link:active {
  color: var(--text);
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
}

/* ----------*/
body {
  font-family: var(--main-font);
  letter-spacing: 0.02em;

  color: var(--text);
}

/* компоненти */

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  text-transform: uppercase;
  letter-spacing: 0.03em;

  color: var(--dark);
}

.logo-item {
  color: var(--primary-brand);
}
.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;

  background-color: var(--primary-brand);
  border: var(--primary-brand);
  color: var(--light-on-dark);
  border-radius: 4px;

  cursor: pointer;

  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 32px;
  padding-right: 32px;
}
.button:hover,
.button:focus {
  background-color: var(--pressed-state);
}
.secondary-title {
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  text-align: center;

  color: var(--dark);

  margin-bottom: 72px;
}

.third-title {
  font-size: 20px;
  line-height: 1.2;

  color: var(--dark);

  margin-bottom: 8px;
}

.paragraph {
  font-size: 16px;
  line-height: 1.5;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.card-set {
  gap: var(--indent);
}

.card-item {
  flex-basis: calc(100% - ((var(--items) - 1) * var(--indent)) / var(--items));
}
/* ---------- */
/* -----HEADER----- */
.header {
  display: flex;
  align-items: center;
}
.header-bgd {
  border-bottom: 1px solid var(--accent);
  box-shadow: 0px 2px 1px var(--shadow1), 0px 1px 1px var(--shadow2),
    0px 1px 6px var(--shadow1);
}
.logo-header {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 76px;
}
.main-nav {
  display: flex;
}

.main-nav-list {
  display: flex;
}
.main-nav-item:not(:last-child) {
  margin-right: 40px;
}

.main-nav-list-lihk {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  display: block;
  padding-top: 24px;
  padding-bottom: 24px;

  color: var(--dark);
}

.current {
  color: var(--primary-brand);
}

.address-list {
  display: flex;
  gap: 40px;
}
.address-container {
  margin-left: auto;
}

.address {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text);

  text-decoration: none;

  padding-top: 24px;
  padding-bottom: 24px;
}
.address:hover,
.address:focus {
  color: var(--primary-brand);
}

/* ---------- */
/* -----HERO----- */
.hero-bgd {
  background-image: linear-gradient(var(--gradient), var(--gradient)),
    url('../images/bgd-hero.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;

  background-color: var(--dark);
  padding-top: 188px;
  padding-bottom: 188px;
}
.hero-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-title {
  font-size: 56px;
  line-height: 1.07;

  color: var(--light-on-dark);

  text-align: center;
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
  max-width: 494px;
}
/* -----Benefits----- */
.benefits-box {
  display: flex;
  gap: 24px;
}
.benefits-box-item {
  flex-basis: calc(100% / 4);
}
.benefits-icon-block {
  background-color: var(--light);

  padding: 24px 100px;
  margin-bottom: 8px;
}

.benefits-icon {
  width: 64px;
  height: 64px;
}
/* -----What are we doing----- */
.we-doing-container {
  padding-top: 0;
}
.we-doing-box {
  display: flex;
}
.we-doing-box-item {
  --items: 3;
}

/* ------Our Team----- */

.team {
  background-color: var(--light);
  padding-bottom: 110px;
}

.team-box {
  display: flex;
  flex-wrap: wrap;
}

.team-box-item {
  box-shadow: 0px 1px 6px var(--shadow1), 0px 1px 1px var(--shadow2),
    0px 2px 1px var(--shadow1);
  border-radius: 0px 0px 4px 4px;
}
.team-card-name {
  padding-top: 32px;
  padding-bottom: 8px;
  text-align: center;
}
.team-social-block {
  display: flex;
  flex-wrap: nowrap;
  gap: 24px;

  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 32px;
}

.social-link {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-brand);

  border-radius: 50% 50%;
}
.social-link:hover,
.social-link:focus {
  background-color: var(--pressed-state);
}

.social-icon {
  display: block;
  width: 16px;
  height: 16px;
}
/* -----Customers----- */
.customers {
  padding-top: 130px;
}
.customers-list {
  display: flex;
  gap: 24px;
}
.customers-link {
  display: block;
  border: 1px solid var(--subtle-text);
  border-radius: 4px;
  padding: 16px 32px;
}

.customers-link:hover,
.customers-link:focus {
  border: 1px solid var(--pressed-state);
}

.customers-icon {
  height: 56px;
  width: 104px;

  fill: var(--subtle-text);
}
.customers-link:hover .customers-icon,
.customers-link:focus .customers-icon {
  fill: var(--pressed-state);
}

/* -----Footer------ */
.footer-bgd {
  background-color: var(--dark);

  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-block {
  display: flex;
}
.logo-item-footer {
  color: var(--light);
}

.paragraph-footer {
  margin-top: 16px;
  color: var(--accent);
  max-width: 264px;
}

.footer-social-media {
  margin-left: 120px;
}
.footer-social-media > .third-title {
  color: var(--light-on-dark);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  margin-bottom: 16px;
}
.footer-social-block {
  display: flex;
  gap: 16px;
}
.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--footer-social);
  width: 40px;
  height: 40px;
  border-radius: 50% 50%;
}
.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--success);
}

.footer-social-icon {
  display: block;
  fill: var(--light);
  width: 24px;
  height: 24px;
}

/* =====PORTFOLIO=====*/
.portfolio-page {
  padding-top: 0;
}
/* -----Filter----- */
.button-filter {
  background-color: var(--accent);
  color: var(--primary-brand);
  border: 1px solid var(--accent);

  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px;
}

.button-filter:hover,
.button-filter:focus {
  background-color: var(--pressed-state);
  color: var(--light-on-dark);
  box-shadow: var(--shadow-filter);
}

.filter-list {
  display: flex;
  justify-content: center;

  margin-top: 96px;
  margin-bottom: 72px;
}

.filter-list-item:not(:last-child) {
  margin-right: 24px;
}

/*-----Portfolio-----*/
.porfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.portfolio-list-item {
  flex-basis: calc((100% - 48px) / 3);
  border: 0.5px solid var(--light);
  box-shadow: 0px 1px 6px var(--shadow1);
}
.portfolio-link{
  display: block;
  text-decoration: none;
  color: var(--text);
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 6px var(--shadow1), 0px 1px 1px var(--shadow2),
    0px 2px 1px var(--shadow1);
   
}

.portfolio-list-item-descr {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;

  border: 1px solid var(--accent);
  border-top: none;
}
.secondary-title-portfolio {
  font-size: 20px;
  line-height: 1.2;
  text-transform: capitalize;

  color: var(--dark);
  margin-bottom: 8px;
}
